/.vs/FastCut/v15/*.suo
/.vs/FastCut/v15/Server/sqlite3/*.lock
/.vs/FastCut/v15/Server/sqlite3/*.ide
/.vs/FastCut/v15/Server/sqlite3/*.ide-shm
/.vs/FastCut/v15/Server/sqlite3/*.ide-wal
/.vs/config/*.config
/FastCut.Api/bin/Debug/netcoreapp2.1/*.json
/FastCut.Api/bin/Debug/netcoreapp2.1/*.dll
/FastCut.Api/bin/Debug/netcoreapp2.1/*.pdb
/FastCut.Api/obj/Debug/netcoreapp2.1/*.cs
/FastCut.Api/obj/Debug/netcoreapp2.1/*.cache
/FastCut.Api/obj/Debug/netcoreapp2.1/*.CopyComplete
/FastCut.Api/obj/Debug/netcoreapp2.1/*.txt
/FastCut.Api/obj/Debug/netcoreapp2.1/*.dll
/FastCut.Api/obj/Debug/netcoreapp2.1/*.pdb
/FastCut.Api/obj/*.cache
/FastCut.Api/obj/*.props
/FastCut.Api/obj/*.targets
/FastCut.Api/obj/*.json
/FastCut.Domain/bin/Debug/netcoreapp2.1/*.dll
/FastCut.Domain/bin/Debug/netcoreapp2.1/*.pdb
/FastCut.Domain/obj/Debug/netcoreapp2.1/*.CopyComplete
/FastCut.Infra/bin/Debug/netcoreapp2.1/*.dll
/FastCut.Infra/bin/Debug/netcoreapp2.1/*.pdb
/FastCut.Infra/obj/Debug/netcoreapp2.1/*.CopyComplete
